@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #7e22ce;
	--dark-color-b: #411a62;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	margin: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}

.leave{
    margin-right: 1rem;
}

.buttons{
    display: flex;
}

.create-room-btn{
	margin-bottom: 2rem;
}

.new{
	display: flex;
}

/* Chat Page */
.chat-main{
	display: flex;
}

.chat-container {
	max-width: 1200px;
	background: #fff;
	margin: 30px auto;
	overflow: hidden;
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	display: flex;
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
    padding: 30px;
    height: 510px; 
    overflow-y: auto; 
}
.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-a);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

/* canvas */
    .drawing-column {
        width: 540px;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 8px;
    }

    .drawing-tools button,
    #clearCanvasBtn {
        background-color: #7e22ce;
        color: #fff;
        padding: 8px 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .canvas-container {
        position: relative;
        margin-bottom: 10px;
    }

    canvas {
        width: 100%;
        height: 350px;
        border: 4px solid #ccc;
        border-radius: 4px;
        cursor: crosshair;
    }

    .drawing-tools label,
    .drawing-tools input {
        display: block;
        margin-bottom: 10px;
    }

    .word-display{
      display: flex;
      margin-bottom: 15px;
    }

    .word-display h3{
      margin-left: 5rem;
      margin-top: 5px;
      letter-spacing: 4px;
      color: navy;
      font-size: larger;
    }

@media only screen and (max-width: 768px) {
    .chat-main {
        display: block;
    }

    .chat-sidebar {
        display: none; 
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        background-color: var(--dark-color-b);
        overflow-x: hidden;
        padding-top: 60px;
        z-index: 1;
    }

    .chat-main.show-sidebar .chat-sidebar {
        display: block; 
    }

    .chat-main.hide-chat .chat-form-container {
        display: none; 
    }

    .chat-header .btn {
        font-size: small;
        padding: 2px;
        margin-left: 5px;
        margin-right: 5px;
        text-align: center;
    }

    .chat-header .open-chat-btn {
        display: block; 
    }

    .chat-form-container {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: var(--dark-color-a);
        padding: 20px;
    }

    .open-chat-btn {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: var(--dark-color-a);
        color: #fff;
        border: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .open-chat-btn i {
        transform: rotate(90deg);
    }

    .chat-messages {
        height: calc(100% - 160px);
    }

    .new {
        flex-direction: column;
    }

    .drawing-column {
        width: 100%; 
    }

    .word-display h3 {
        margin-left: 0;
        text-align: center; 
    }
}

.menu-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    display: block;
}

@media only screen and (min-width: 768px) {
    .menu-btn {
        display: none; 
    }
}